<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>



<body>
    <br/>
<div class="container">
  <div class="row">
    
    <div class="col-md-6">
      <div class="panel panel-theme">
        <!-- Default panel contents -->
        <img class="card-img-top" src="images/France-Belgium-Size.jpg" alt="Card image cap">
        <div class="panel-heading">
          <h3 class="panel-title">France - Belgium</h3>
        </div>
        <div class="panel-body">
          <p>Betting Odds, Spread, info, info</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">World Cup Semi-Final</li>
          <li class="list-group-item">Tuesday July 10th, 2018</li>
          <li class="list-group-item">Krestovsky Stadium, Saint Petersburg</li>
          <li class="list-group-item">Referee - Andrés Cunha (Uruguay)</li>
          <li class="list-group-item">Match 61</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-theme">
          <!-- Default panel contents -->
          <img class="card-img-top" src="images/Croatia-England-Size.jpg" alt="Card image cap">
          <div class="panel-heading">
            <h3 class="panel-title">Croatia - England</h3>
          </div>
          <div class="panel-body">
            <p>Betting Odds, Spread, info, info</p>
          </div>
  
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">World Cup Semi-Final</li>
            <li class="list-group-item">Wednesday July 11th, 2018</li>
            <li class="list-group-item">Luzhniki Stadium, Moscow</li>
            <li class="list-group-item">Referee - Cüneyt Çakır (Turkey)</li>
            <li class="list-group-item">Match 62</li>
          </ul>
        </div>
      </div>
    
  </div> 
  
</div>
</body>
</html>